* {
    box-sizing: border-box;
}

:root {
    --header-bg: var(--color-primary);

    --color-secondary: #575F66;
    --color-primary: #10375c;

    .header-action__login,
    .navbar__link {
        padding: 4px 21px;
        font-size: 1.6rem;
        font-weight: 300;
        color: #C9D2DA;
    }
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

/* Common */
a {
    text-decoration: none;
}

.btn {
    --height: 60px;
    display: inline-block;
    height: var(--height);
    padding: 0 20px;
    border-radius: 99px;
    font-size: 1.6rem;
    font-weight: 400;
    min-width: 205px;
    text-align: center;
    line-height: var(--height);
    color: #FFFFFF;
    background-color: #2E80CE;
    border: 1px solid #2E80CE;
}


.container {
    width: 1170px;
    max-width: calc(100% - 48px); /* Cách lề mỗi bên 24px*/
    margin: 0 auto;
}

.section-heading {
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: var(--color-primary);
}

.section-des {
    margin-top: 18px;
    color: var(--color-secondary);
    text-align: center;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67; /* 166.667% */
}

.control {
    display: flex;
    column-gap: 18px;
}

/* Header */
.header {
    min-height: 800px;
    background-color: var(--header-bg);
    padding-top: 30px;
}

.logo {
    display: inline-flex;
    align-items: start;
    font-size: 1rem;
    position: relative;
}

.logo__circle::before,
.logo__circle::after {
    content: "";
    display: inline-block;
    border-radius: 50%;
}

.logo__circle::before {
    width: 3em; /* 30px */
    height: 3em;
    background: #2E80CE;
}

.logo__circle::after {

    position: absolute;
    top: 1.1em;
    left: 1.1em;
    width: 1.6em; /* 16px */
    height: 1.6em;
    background: #FFFFFF;
}


.logo__text {
    text-align: right;
    margin-left: 0.6em;
    color: #FFFFFF;
    line-height: 1.6em;

}

.logo__brand {
    display: block;
    font-size: 1.8em;
    font-weight: 400;
    color: #FFFFFF;
}

.logo__brand--small {
    font-size: 1.2em;
    font-weight: 300;
}

/* Header top */

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__list {
    display: flex;
}

.navbar__link:hover,
.navbar__link--active {
    color: #FFFFFF;
    text-shadow: 1px 0 0 currentColor;
}

.navbar_link--active::before {
    position: relative;
    left: -8px;
    top: -2px;
    content: "";
    display: inline-block;
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    background-color: #FFFFFF;
}

.header-action {
    display: flex;
    align-items: center;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.header-action__signup {
    --height: 44px;
    min-width: 104px;
}

.header-action__login {
    margin-right: 7px;
}

/* Hero */
.hero {
    display: flex;
    align-items: center;
    margin-top: 76px;
}

.hero__content {
    flex-shrink: 0;
    width: 44%;
}

.hero__media {
    flex-grow: 1;
}

.hero__heading {
    font-weight: 600;
    font-size: 7rem;
    line-height: 1.14; /* 114% */
    letter-spacing: -0.02rem;
    color: #FFFFFF;
}

.hero-des {
    margin-top: 22px;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;

    color: #C9D2DA;
}

.hero-row. {
    display: flex;
    align-items: center;
    margin-top: 38px;
}

.hero_phone {
    margin-left: 38px;
    font-size: 1.8rem;
    line-height: 1.67; /* 167% = 30/1.8*/
    color: #FFFFFF;
    margin-right: 38px;
}

.hero--images {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hero-img {
    width: 330px;
    height: 540px;
    border-radius: 6px;
    object-fit: cover;
}

.hero-img:first-child {
    position: relative;
    margin-right: -6px;
}

.hero-img:last-child {
    width: 210px;
    height: 410px;
}

/* Service */
.service {
    padding: 170px 0;
}

.service__list {
    margin-bottom: 55px;
}

.service__heading,
.service__desc {
    text-align: center;
}

.service__desc {
    width: 468px;
    margin-right: auto;
    margin-left: auto;
}

.service__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
}

.service_img {
    width: 570px;
    height: 570px;
    border-radius: 12px;
    object-fit: cover;
}

/* Service item*/
.service-item {
    display: flex;
    width: 470px;
    padding: 22px 0;
    border-radius: 10px;
    background-color: #FFFFFF;
    transition: 0.25s;
}

.service-item:hover {
    position: relative;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
}

/* khi hover vào thì tác động tới icon */
.service-item:hover .service-item__icon {
    background: #2E80CE;
    color: #FFFFFF;
}

.service-item__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: var(--color-primary);
    background: #eff6fd;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
    transition: 0.25s;

}

.service-item__body {
    margin-left: 20px;
}

.service-item__heading {
    color: #10375C;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.28;
}

.service-item__des {
    margin-top: 8px;
    color: var(--color-secondary);
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75; /* 175% */
}

/* Work */
.work {
    padding: 100px 0;
    background-color: #F6FBFF;
}

.work__desc {
    width: 468px;
    margin-top: 18px;
}

.work__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 86px;
    column-gap: 30px;
}

.work-item {
    border: 16px solid #EAF6FF;
    border-radius: 4px;
    padding: 44px;
    background-color: #FFFFFF;
    transition: 0.25s;

}

.work-item:hover {
    border-color: #2E80CE;
    transform: translateY(-16px);
}

.work-item__icon {
    width: 72px;
    height: 72px;
}

.work-item__heading {
    color: #10375C;
    font-size: 2.6rem;
    font-weight: 600;
    margin-top: 18px;
    line-height: 1.38; /* 138.462% */
}

.work-item__des {
    color: #575F66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75; /* 175% */
    margin-top: 28px;
}

.work-item__more {
    display: inline-block;
    color: #2E80CE;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75; /* 175% */
    margin-top: 18px;

}

/* Feature */
.feature {
    margin-top: 85px;
    padding: 85px 0;
    background-color: #FFFFFF;
}

.feature__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feature__media {
    width: 48%;
}

.feature__images {
    position: relative;
    padding: 0 58px 121px 0;

}

.feature__img {
    width: 512px;
    height: 370px;
    object-fit: cover;
    border-radius: 6px;
}

.feature__img:last-child {
    width: 322px;
    height: 370px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.feature__content {
    margin-left: 188px;
}

.feature__cta {
    margin-top: 38px;
}

/* Member */
.member {
    margin-top: 85px;
    padding: 85px 0;
}

.member__header {
    text-align: center;
}

.member__cta {
    margin-bottom: 38px;
}

.member__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    margin-top: 70px;
}

.member-item:hover .member-item__thumb {
    transform: scale(1.1);
}

.member-item__img-bg {
    padding: 28px 4px 0;
    border-radius: 6px;
    background-color: #EAF6FF;
    overflow: hidden;
}

.member-item__thumb {
    display: block;
    width: 262px;
    height: 290px;
    object-fit: cover;
    transition: 0.25s;
}

.member-item__name {
    color: #10375C;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.75; /* 175% */
    margin-top: 12px;
}

.member-item__title {
    color: #575F66;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.85; /* 185.714% */
}

.member__control {
    margin-top: 28px;
    display: flex;
    justify-content: center;
    column-gap: 18px;
    margin-top: 38px;
}

.control__btn {
    border-radius: 50%;
    height: 36px;
    width: 36px;
    line-height: 36px;
    outline: none;
    background-color: #FFFFFF;
    border: 1px solid #575F66;
    transition: 0.25s;
}

.control__btn:last-child {
    transform: rotateY(180deg);
}

.control__btn:hover {
    color: #FFFFFF;
    background-color: #2E80CE;
    border-color: #2E80CE;
    cursor: pointer;
}

/* Install */
.install {
    margin-top: 180px;
}

.install__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 70px;
    border-radius: 4px;
    background-color: #2E80CE;
}

.install__content {
    max-width: 586px;
}

.install__img {
    display: block;
    height: 522px;
    width: 284px;
    object-fit: cover;
    margin-top: -95px;
}

.install__heading {
    /*margin-top: 76px;*/
    max-width: 489px;
    color: #FFF;
}

.install__desc {
    color: #FFF;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.66; /* 166.667% */
    margin-top: 18px;
    max-width: 586px;
}

.install-row {
    display: flex;
    justify-content: left;
    column-gap: 28px;
    margin-top: 38px;
}

.install__btn-img {
    width: 135px;
    height: 40px;
}

/* News */
.new {
    margin-top: 85px;
    padding: 85px 0;
}

.news__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.news__content {
    flex-shrink: 0;
}

.news__heading {
    max-width: 470px;

}

.new__more {
    display: inline-block;
    margin-top: 28px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.55; /* 155.556% */
    text-decoration: underline;
    text-underline-offset: 5px;
    color: #10375C;
}

.news__control {
    margin-top: 28px;
    /*display: flex;*/
    /*justify-content: start;*/
    /*column-gap: 18px;*/
    /*margin-top: 28px;*/
}

.control__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border: 1px solid #575f66;
    border-radius: 50%;
    color: #575f66;
    background: #fff;
    outline: none;
    transition: 0.25s;
}

.control__btn:last-child {
    transform: rotateY(180deg);
}

.control__btn:hover {
    background-color: #2E80CE;
    color: #FFFFFF;
    cursor: pointer;
}

.new__list {
    display: flex;
    column-gap: 30px;
    width: 570px;
}

.new-item {
    flex: 1;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.25s;
}

.new-item:hover {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
}

.new-item:hover .news-item__img {
    transform: scale(1.1);
}

.new-item:hover news-item__body {
    background-color: #FFFFFF;
}

.news-item__thumb {
    height: 172px;
    overflow: hidden;
    transition: 0.25s;
}

.news-item__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.25s;
}

.news-item__body {
    padding: 24px 16px;
    border: 1px solid #E8EBEE;
    border-top: none;
    border-radius: 0 0 12px 12px;
    background: #FFFFFF;
    transition: 0.25s;
}

.news-item__heading {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.62;
    color: #10375c;
}

.news-item__des {
    margin-top: 10px;
    font-weight: 300;
    line-height: 1.71;
}

.news-item__more {
    display: inline-block;
    font-weight: 400;
    margin-top: 12px;
    font-size: 1.4rem;
    line-height: 1.8;
    color: #10375C;
}

.news-item__more:hover{
    color: #2E80CE;
}

/* Appointment */
.appointment {
    margin: 85px 0px 170px;
    padding: 85px 0;
}

.appointment__inner {
    background-color: #F6FBFF;
    border-radius: 4px;
}

.appointment__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.appointment__heading {
    margin-top: 100px;
    color: #10375C;
    text-align: center;
    font-family: Sora;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2; /* 120% */
    letter-spacing: -1px;
}

.appointment__heading:after {
    content: "";
    display: block;
    width: 136px;
    height: 2px;
    background-color: #2E80CE;
    margin: 18px auto 0;
}

.appointment__desc {
    margin: 18px 0 38px;
    max-width: 617px;

    color: #575F66;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75; /* 175% */
}

.appointment__btn {
    margin-bottom: 115px;
}